body{
    background-color: grey;
}

/* img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
  } */

/* .container {
    padding: 40px;
    padding-right: 0;
} */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 40px;
  }


/* .detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
} */

/* .gallery {
    
     
    column-gap: 10px;
    row-gap: 15px;
  } */
