{%extends 'base.html'%}
{% block content %}

<br>
<br>
<br>
<br>
<div class="container_title">
    <div class="title_home">
       <h1 class="is-size-2">Welcome to MyPetPro</h1> 
    </div>
</div>
    <div class="container_home">
    <div class="home_image">
    <img src="https://i.imgur.com/Ryw8ARo.png" title="Charlie" />
  </div>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      
        <p><a href="https://www.linkedin.com/in/addyrodriguez/">
          <img class='linkedin icon' src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png"/>
          <a href="https://github.com/AddyRdz">
        <img class="github icon" src="https://img.icons8.com/ios-glyphs/30/000000/github.png">
        <p>
          <strong>MyPetPro</strong> by <a href="https://github.com/AddyRdz">Addy Rodriguez</a>.
        </a>
        </a>
        </p>
      </p>
    </div>
  </footer>
{% endblock %}

