{% extends 'base.html' %}

{% block content %}
<h1>Details About Pet!</h1>
<p>Name:{{pet.name}}</p>
<p>Bio:{{pet.bio}}</p>
<img src="{{pet.img}}" alt="Pet Image - {{pet.name}}"/>


<div><a href="{% url 'health_create' pet.pk pet.pets.pk %}">Add Health Info</a></div>

<div>
    <h2>Pet Health Details:</h2>    
    <p>{{pet.pets.food}}</p>
    <p>{{pet.pets.health_issues}}</p>
    <p>Rabies:{{pet.pets.rabies}}</p>
    <p>DHPP:{{pet.pets.dhpp}}</p>
    <p>Bordetella:{{pet.pets.bordetella}}</p>
    <p>Lepto{{pet.pets.lepto}}</p>
    <p>Canine Flu:{{pet.pets.canine_flu}}</p>
    
</div>




<div><a href="{% url 'pet_list' %}">Back to Pets Page</a></div>


{% endblock %}