{% extends 'base.html' %}
{% block content %}
<div class="container_detail">
  <div class="card-detail">
    <div class="card-pet-detail">
      <figure class="image is-5by4">
        <img src="{{pet.img}}" alt="Pet Image - {{pet.name}}">
      </figure>
    </div>
  </div>
</div>
<div class="card-content">
  <div class="media">
    <div class="media-left">
      <figure class="image is-48x48">
        <img src="{{pet.img}}" alt="Pet Image - {{pet.name}}">
      </figure>
    </div>
    <div class="media-content">
      <p class="title is-4">{{pet.name}}</p>
      <p class="subtitle is-6">Owner: {{pet.owner}}</p>
    </div>
  </div>
  <div class="detail__container">
    <div class="buttons">
      <a href="{% url 'pet_update' pet.pk %}" class="button is-info">
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
      </a>
      <a href="{% url 'pet_delete' pet.pk %}" class="button is-danger">
        <span class="icon">
          <i class="fas fa-trash-alt"></i>
        </span>
      </a>
    </div>

    <div class="content">
      A little bit about {{pet.name}}: {{pet.bio}}
      <br>
      <p>Food: {{pet.pets.food}}</p>
      <p>Health Issues: {{pet.pets.health_issues}}</p>
      <p>Rabies: {{pet.pets.rabies}}</p>
      <p>DHPP: {{pet.pets.dhpp}}</p>
      <p>Bordetella: {{pet.pets.bordetella}}</p>
      <p>Lepto: {{pet.pets.lepto}}</p>
      <p>Canine Flu: {{pet.pets.canine_flu}}</p>
    </div>
  </div>
</div>
<div class="detail__container">
  <div class="buttons">
    <a href="{% url 'health_create' pet.pk pet.pets.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
  </div>
</div>
{% endblock %}